body {
    margin: 0;
    background-image: linear-gradient(348deg, transparent 0%, transparent 76%, rgba(194, 194, 194, 0.04) 76%, rgba(194, 194, 194, 0.04) 93%, transparent 93%, transparent 100%), linear-gradient(150deg, transparent 0%, transparent 10%, rgba(194, 194, 194, 0.04) 10%, rgba(194, 194, 194, 0.04) 74%, transparent 74%, transparent 100%), linear-gradient(68deg, transparent 0%, transparent 36%, rgba(194, 194, 194, 0.04) 36%, rgba(194, 194, 194, 0.04) 47%, transparent 47%, transparent 100%), linear-gradient(199deg, transparent 0%, transparent 37%, rgba(194, 194, 194, 0.04) 37%, rgba(194, 194, 194, 0.04) 47%, transparent 47%, transparent 100%), linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
    font-family: 'Courier New', Courier, monospace;
}

/* Début message d'accueil */
#accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: aliceblue;
}

.avatar img {
    width: 250px;
    height: auto;
    border-radius: 30%;
    margin-bottom: 20px;
}

.message {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#btnAccueil {
    background-color: rgb(121, 87, 8);
    color: aliceblue;
    padding: 10px;
}

#btnAccueil:hover {
    color: black;
    cursor: grab;
}

#btnAccueil:active {
    cursor: grabbing;
}

/* Fin message d'accueil */

header {
    padding-top: 80px;
    display: flex;
    width: 100%;
}

/* Mon logo */
#img {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 5px;
}

#name {
    color: rgb(121, 87, 8);
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

/* Navbar */
li {
    display: inline;
    text-align: center;
}

ul {
    display: flex;
}

nav {
    position: fixed;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 25px;
    z-index: 1000;
}

a {
    text-decoration: none;
    color: azure;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    color: rgba(166, 124, 28, 1);
}


/* Titre Développeur Web */
.mainTitle {
    color: azure;
    width: 100%;
    padding: 50px;
    /*background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);*/
    background: linear-gradient(90deg, rgba(166, 124, 28, 1) 0%, rgba(4, 4, 29, 1) 100%);
    text-align: center;
    font-size: 2.5rem;
}

/* À propos */
h2 {
    width: 10%;
    font-size: 25px;
}

/* À propos en mode mobile*/
#mobile {
    display: none;
    width: 30%;
}

/* Compétences Formations Réseaux */
h3 {
    color: azure;
    text-align: center;
    font-size: x-large;
}

/* À propos de moi */
.about {
    display: flex;
    color: azure;
    justify-content: space-between;
    /*background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);*/
    padding: 20px;
    align-items: center;
    /*background: linear-gradient(90deg, rgba(166,124,28,1) 0%, rgba(4,4,29,1) 100%);*/
    background-color: rgb(0, 0, 0, 0.5);
}

p {
    width: 50%;
    line-height: 2rem;
    font-size: 1.1rem;

}

/* Mon avatar */
#picture {
    width: 200px;
    border-radius: 5px;
}

/* Logo compétences */
.image {
    width: 125px;
}

/* Structure Logo compétences */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /*align-items: center;*/
    overflow: hidden;
    justify-content: space-around;
    width: 100%;
}

#figma {
    width: 80px;
}

/* Titre sous les logos compétences */
#titre {
    color: azure;
    text-align: center;
}

#icons {
    cursor: pointer;
    display: none;
    color: azure;
}

.formation {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: azure;
}

.social {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(166, 124, 28, 1) 0%, rgba(4, 4, 29, 1) 100%);
}

footer p {
    color: aliceblue;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 769px) {

    .img {
        width: 400px;
        height: 240px;
    }
    
}

@media screen and (max-width : 768px) {

    .img {
        width: 100%;
    }

    #mobile {
        text-align: center;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about h2 {
        display: none;
    }

    #mobile {
        display: block;
    }

    p {
        font-size: 1rem;
    }

    #name {
        display: none;
    }

    #icons {
        display: block;

        /*background: radial-gradient(circle, rgba(166, 124, 28, 1) 0%, rgba(4, 4, 29, 1) 100%);*/
    }

    #icons:before {
        /*content: "\2630";*/
        content: url("../Img/hamburger-menu-svgrepo-com\ \(1\).svg");
    }

    .active #icons:before {
        content: url("../Img/cross-svgrepo-com\ \(1\).svg");
    }

    nav {
        justify-content: space-between;
    }
    
    nav ul {
        position: fixed;
        left: -110%;
        top: 5%;
        flex-direction: column;
        background: radial-gradient(circle, rgba(166, 124, 28, 1) 0%, rgba(4, 4, 29, 1) 100%);
        width: 100%;
        text-align: center;
        transition: 0.30s;
    }

    nav li {
        padding: 3px 0;
    }



    nav.active ul {
        left: 0%;
    }

    a:hover {
        color: aliceblue;
    }

    .grid-container {
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .formation {
        flex-direction: column;
        align-items: center;
    }

    .formation div {
        padding: 20px;
    }

    .element {
        transition: none !important;
        transform: none !important;
        opacity: 1 !important;
    }

}